body {
  font-family: "Open Sans", sans-serif;
}

header {
  border-bottom: 1px solid #DDD;
  height: 50px;
  line-height: 3em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.action {
  color: #7E888B;
  padding: 0px 15px;
}

#content {
  line-height: 1.6em;
  padding: 5px 15px;
}

#content a {
  color: #4183C4;
  text-decoration: none;
}

#content a:hover, a:focus {
  text-decoration: underline;
}

#content img {
  max-width: 100%;
}

#content ul {
  padding-left: 1.5em;
}

#content blockquote {
  border-left: 4px solid #DDD;
  color: #777;
  margin: 0;
  padding: 0px 15px;
}
